---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Navbar />

<Layout title="Albert Stan - Projects">
  <main>
    <h4>Posts</h4>
  </main>
</Layout>

<Footer />
