---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Navbar />

<Layout title="Albert Stan - Homepage">
  <main>
    <h4>Homepage</h4>
  </main>
</Layout>

<Footer />
