---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
---

<Navbar />

<Layout title="Albert Stan - Homepage">
  <Container><div class="py-10">Homepage</div></Container>

  <Container bg="bg-neutral-100 text-black">
    <div class="py-10">Homepage</div>

    <Footer />
  </Container>
</Layout>
