<div class="bg-black shadow">
  <nav class="sticky container top-0 z-50 space-x-8 py-2">
    <div class="flex items-center justify-between">
      <a href="/">
        <h5
          class="text-transparent bg-clip-text bg-gradient-to-br hover:bg-gradient-to-tr from-purple-400 to-pink-600"
        >
          <span class="text-white">Albert Stan</span>
        </h5>
      </a>

      <div class="flex space-x-4">
        <a href="/projects">
          <div
            class={`${
              Astro.url.pathname.includes("projects")
                ? ""
                : "text-neutral-400 hover:text-neutral-200"
            }`}
          >
            Projects
          </div>
        </a>

        <a href="/posts">
          <div
            class={`${
              Astro.url.pathname.includes("posts") ? "" : "text-neutral-400 hover:text-neutral-200"
            }`}
          >
            Posts
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>
