---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import MainProjectCard from "../../components/MainProjectCard.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Navbar />

<Layout title="Albert Stan - Projects">
  <Container bg="bg-neutral-900">
    <div class="grid lg:grid-cols-2 gap-4 mt-5 md:mt-10">
      <MainProjectCard
        title="Vinatural"
        url="/posts/vino-project"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
      />
    </div>
  </Container>
</Layout>

<Footer />
